body{

    font-family: 'Open Sans Condensed', sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: 'Open Sans Condensed', sans-serif;
}

header{
    background-image: url("image/banner.jpg");
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    
}

.banner-container{
    height: 100vh;
}
.headerColor{
    background: #f5f5f5;
}

.nav-link{
    transition: 0.4s;
}
.nav-link:hover{
    transform: scale(1.1) ;
    
}
/* .navHoverColor:hover{
    color: tomato !important;
    
} */

.dicription{
    line-height: 25.5px;
    text-align: justify;
}
.rectangle {
    height: 100px;
    width: 1110px;
    background-color: white;
    /* margin-bottom: 100px; */
  }
  .logo:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.5);
  }
  /* .d-flex{
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 1110px) {
    .col-sm-6 {
      flex: 100%;
    }
  } */